.container > h1 {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.tabs {
  margin-block-end: var(--nlportal-space-block-2xl);
}

.grid {
  display: grid;
  grid-gap: var(--denhaag-space-inline-2xl);
  grid-template-columns: 1fr 1fr;
}

.grid > * {
  width: 100%;
}
