.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.status > *:not(:last-child),
.documents > *:not(:last-child),
.messages > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-xl);
}

.container > .documents > .documentsHeader,
.container > .messages > .messagesHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.downloadCard:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-xl);
}
