.container > h1 {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.container > .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.container > .grid > .card {
  width: unset;
}
